<footer>
  <div class="container">
    <div class="row">
      <div>
        <div class="social-icons">
          <div class="button">
            <div class="icon">
              <a href="https://www.linkedin.com/in/joão-vitor-pimentel/" target="_blank"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
          <div class="button">
            <div class="icon">
              <a href="https://github.com/pimenteljoao44" target="_blank"><i class="bx bxl-github"></i></a>
            </div>
          </div>
          <div class="button">
            <div class="icon">
              <a href="https://wa.me/5544999003848" target="_blank"><i class="bx bxl-whatsapp"></i></a>
            </div>
          </div>
        </div>
        <mat-divider class="divider" ></mat-divider>
        <div class="page-scroll">
          <a id="to-top" class="page-scroll" href="#home">
            <img id="rocket" src="../../../assets/img/rocket.png"  matTooltip="Vamos decolar!"  [matTooltipPosition]='tooltipPostion' [matTooltipShowDelay]='300'  [matTooltipHideDelay]="300" />
          </a>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</footer>
