<div class="container" id="home">
  <div class="social-icons" *ngIf="isMobile">
    <div class="button"><a href="https://www.linkedin.com/in/joão-vitor-pimentel/" target="_blank"><div class="icon"><i class="bx bxl-linkedin"></i></div><span>Linkedin</span></a></div>
    <div class="button"><a href="https://github.com/pimenteljoao44" target="_blank"><div class="icon"><i class="bx bxl-github"></i></div><span>Github</span></a></div>
    <div class="button whatsapp"><a href="https://wa.me/5544999003848" target="_blank"><div class="icon"><i class="bx bxl-whatsapp"></i></div><span>WhatsApp</span></a></div>
  </div>
  <div class="home">
    <div class="profile-picture-container">
      <img class="profile-picture" src="./../../../assets/img/fotoLinkedin.png" alt="Foto de perfil">
    </div>
    <div class="info">
      <p>
        Estou pronto para transformar suas ideias em soluções digitais incríveis. Com compromisso com a excelência, aprendizado contínuo e foco no sucesso do cliente
      </p>
    </div>
    <div class="btn">
      <a href="../../../assets/documents/JOÃO VITOR DA SILVA PIMENTEL .pdf" target="_blank" rel="noopener noreferrer">
        <button mat-raised-button>Meu Curriculo</button>
      </a>
    </div>
  </div>
</div>
