<div class="container" id="projects">
  <h2 class="heading heading-sec heading-sec__mb-bg">
    <span class="heading-sec__main">Projetos</span>
    <span class="heading-sec__sub">
      Aqui você encontrará alguns dos projetos pessoais e de clientes que criei.
    </span>
  </h2>

  <div class="projects__content">
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/projetoStock.png"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">App para controle de estoque</h3>
        <p class="projects__row-content-desc">
          Este projeto pessoal foi desenvolvido com o objetivo de colocar em prática meus conhecimentos de front-end e backend. Com este aplicativo, os usuários podem acompanhar o fluxo de venda de produtos.
        </p>
        <div class="btn">
          <a href="https://stock-front-end.vercel.app" target="_blank" rel="noopener noreferrer">
            <button mat-raised-button>Ir para o Link</button>
          </a>
        </div>
      </div>
    </div>

    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/joefolio.jpeg"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">ERP para gestão de uma marmoraria</h3>
        <p class="projects__row-content-desc">
          Este projeto ainda em desenvolvimento é um sistema ERP personalizado para atender as necessidades de gestão de uma marmoraria. Com foco na automação de processos e na otimização do fluxo de trabalho, o aplicativo permite o controle de estoque, a gestão de vendas, e a administração financeira da empresa. Desenvolvido com tecnologias modernas de front-end e back-end, o sistema visa proporcionar uma solução completa e eficiente para a gestão de todos os aspectos operacionais de uma empresa do seguimento de marmores.










        </p>
        <div class="btn">
          <a href="https://pimenteljoao44.github.io/front-end-marmoraria-sao-carlos/" target="_blank" rel="noopener noreferrer">
            <button mat-raised-button>Ir para o Link</button>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
