<div class="container" id="projects">
  <h2 class="heading heading-sec heading-sec__mb-bg">
    <span class="heading-sec__main">Projetos</span>
    <span class="heading-sec__sub">
      Aqui você encontrará alguns dos projetos pessoais e de clientes que criei.
    </span>
  </h2>

  <div class="projects__content">
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/projetoStock.png"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">App para controle de estoque</h3>
        <p class="projects__row-content-desc">
          Este projeto pessoal foi desenvolvido com o objetivo de colocar em prática meus conhecimentos de front-end e backend. Com este aplicativo, os usuários podem acompanhar o fluxo de venda de produtos.
        </p>
        <div class="btn">
          <a href="https://stock-front-end.vercel.app" target="_blank" rel="noopener noreferrer">
            <button mat-raised-button>Ir para o Link</button>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>