<div class="container" #container>
  <mat-toolbar>
    <p class="nav-title" fxShow.gt-sm>
      Desenvolvedor de Software | Java | Spring boot | Angular
    </p>

    <span class="spacer"></span>
    <div class="navItems" *ngIf="!isMobile">
      <ul>
        <li><a href="#home">HOME</a></li>
        <li><a href="#about">SOBRE</a></li>
        <li><a href="#projects">PROJETOS</a></li>
      </ul>
    </div>

    <div class="sidenav-toggle" (click)="toggleSidenav()" *ngIf="isMobile" >
      <button mat-icon-button color="primary" >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
